    <!--navbarre-->
    <nav class="navbar r2i-navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="<?= __THEME_MODULE__?>/Home/img/download.png" width="30" height="30" alt="">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item selected-menu position-relative">
                <a class="nav-link active" aria-current="page" href="#">Lancer la recherche</a>
              
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Estimation de salaire</a>
              </li>
            </ul>
            <ul class="navbar-nav d-flex align-items-center">
                  <li class="nav-item d-flex align-items-center px-3 pt-2">
                    
                    <span class = "position-relative h-auto w-auto">
                    <i class="fa-solid fa-message h4"></i>                   
                    <span class="position-absolute top-0 start-100 translate-middle  badge rounded-pill bg-danger">
                      3
                      <span class="visually-hidden">unread messages</span>
                    </span>
                  </span>
                  </li>
                  
                  <li class="nav-item d-flex align-items-center px-3 pt-2">
                    
                    <span class = "position-relative h-auto w-auto">
                        <i class="fa-solid fa-bell h4"></i>                       
                    <span class="position-absolute top-0 start-100 translate-middle  badge rounded-pill bg-danger">
                      9+
                      <span class="visually-hidden">unread messages</span>
                    </span>
                  </span>
                  </li>
                  <li class="nav-item d-flex align-items-center px-3 pt-2">
                      <i class="fa-solid fa-user h4"></i>
                  </li>
                             
                  <li class="nav-item d-flex text-secondary " style = "font-size:22px">
                    |
                  </li>
                  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Connexion</a></li>
                          <li><a class="dropdown-item" href="#">Inscription</a></li>
                        </ul>
                </li>
            </ul>
          </div>
        </div>
      </nav>
